.fakeimg1{

    position: absolute;
    top: 80px;
    left: 100px;
    width: 400px;
   
   
    
}
.fakeimg2{

    position: absolute;
    left: 40px;

  
    
}

.fakeimg3{
   
    position: absolute;
   
   
   

   
    
}
.fakeimg4{
       
    position: absolute;
    top: 100px;
    width: 300px;
    left: 400px;

    

   
   
}

.cor{
   
    margin-bottom: 100px ;
    
    width: 100%;
    height:600px;  

   
}
#slider{
    position: absolute;
    left: 100px;
    

}
#slider img{
    opacity: 0;
    position: absolute;
    
  
    

}
#slider img.selected{
    opacity: 1;
    position: absolute;
   
   
    
}
#slider2{
    position: absolute;
    left: 100px;
   

}
#slider2 img{
    opacity: 0;
    position: absolute;
    
  
    

}
#slider2 img.selected2{
    opacity: 1;
    position: absolute;
   
   
   
}