div[class^="Main"] {
  background-color: rgb(231, 236, 236);
  width: 150px;
  height: 50px;
  border: 2px solid;
  display: inline-block;
}
body {
  background-color: rgb(199, 236, 236);
  text-align: center;
}
h3 {
  background-color: antiquewhite;
}

p {
  background-color: antiquewhite;
}

div[class^="contador"] {
    mix-blend-mode: hard-light;
    border-style: double;
}