.fakeimg {
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
}
.fakeimg2 {
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
  top: 400px;
}
.posicionImg {
  position: relative;
  width: 100%;
  top: 100px;
}

.text1 {
  text-align: center;
}

.text2 {
  text-align: center;
}
.posicionIcone2 {
  position: relative;
  left: 80%;
}

.text3 {
  text-align: center;
}

.text4 {
  text-align: center;
}
.posicionIcone4 {
  position: relative;
  left: 80%;
}
