.imgTela2 {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.text1 {
  color: white;
  position: relative;
  text-align: center;
}

#slider img {
  opacity: 0;
  position: absolute;
}
#slider img.selected {
  opacity: 1;
  position: absolute;
}

.posicion1 {
  margin-bottom: 100px;
  width: 100%;
  height: 800px;
}
.posicion2 {
  margin-bottom: 100px;
  width: 100%;
  height: 600px;
}
.imgC {
  width: 100%;
}
