.text1 {
  color: white;
  position: relative;
  text-align: center;
  width: 30%;
  left: 37%;
}

#slider img {
  opacity: 0;
  position: absolute;
}
#slider img.selected {
  opacity: 1;
  position: absolute;
}

.posicion2 {
  margin-bottom: 100px;
  width: 100%;
  height: 600px;
}
.imgC {
  width: 100%;
  height: 200px;
}
