.text1 {
  color: white;
  position: relative;

  width: 30%;
  left: 37%;
}

#slider img {
  opacity: 0;
  position: absolute;
}
#slider img.selected {
  opacity: 1;
  position: absolute;
}
.imgC {
  width: 100%;
  height: 200px;
}
