.posicion8 {
  position: relative;
  width: 100%;
  height: 200px;
  top: 450px;
}
.posicion1 {
  width: 100%;
  height: 200px;
}

.posicion2 {
  text-align: center;
}
.posicion3 {
  text-align: center;
}
.posicion4 {
  text-align: center;
}

.posicionIcone1 {
  position: relative;
  left: 400px;
  top: 40px;
}
.posicionIcone2 {
  position: relative;
  left: 300px;
  top: 190px;
}
.posicionIcone3 {
  position: relative;
  right: 120px;
  top: 30px;
}
.posicionIcone4 {
  position: relative;
  right: 370px;
  top: 180px;
}
.posicionIcone5 {
  position: relative;
  left: 350px;
  top: 40px;
}
.posicionIcone6 {
  position: relative;
  left: 270px;
  top: 200px;
}
.parte1 {
  position: relative;
  top: 40px;
}
.parte2 {
  position: relative;
  top: 150px;
}

.parte3 {
  position: relative;
  top: 300px;
}

i {
  color: white;
}
.text2 {
  color: white;
}
